.form {
    position: relative;
    width: 250px;
    padding: 5px;
}

.form__row {
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin: 5px 0;
}

.form__label {
    font-size: 14px;
    padding: 0 2px;
}

.form__input {
    font-size: 16px;
    padding: 4px 5px;
}

.form__submit {
    margin-top: 10px;
    padding: 5px;
    font-weight: bold;
    text-transform: uppercase;
}